* { box-sizing: border-box; }
.body {
  background-image: url("../img/Grass-Blur.jpg");
  background-size: cover;
  color: #34495e;
  padding: 20px;
}
.jumbotron {
  background-size: cover;
  align: left;
}

.container {
  text-align: center
}

.contact-box {
  float: left;
  border-spacing: 10px;
  background-color: #c29766;
  padding: 0px 20px 20px 40px;
}

.contact-box p {
  padding: 0px 10px 10px 0px;
}

.connect {
  padding-top: 10px
}

/*Typography*/

h1 {
  font-family: Verdana, Arial, sans-serif;
}
h2 {
  font-family: Verdana, Arial, sans-serif;
}
h3 {
  font-family: Verdana, Arial, sans-serif;
}
p {
  font-family: Verdana, Arial, sans-serif;
}
