* { box-sizing: border-box; }

/** NAV **/

.left {
  float: left;
}
.right {
  float: right;
}

nav {
  position: fixed;
  width: 100% !important;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  padding: 10px 25px 15px 25px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 600ms;
}

nav a:hover {
  color: #ff0;
}

/** CONTENT **/

.container-content {
  padding-top: 40px;
  margin: 0 auto;
  width: 90%;
}

.body {
  background-image: url("../img/grass.jpeg");
  background-size: cover;
  color: #f0f8c7;
  padding: 20px;
}

.header h1 {
  text-align: left;
  margin-bottom: 40px;
  color: #214e10;
}

.column {
  display: inline-block;
  float: left;
  height: 80%;
  width: 33.33333333333333%;
  padding-right: 10px;
}

.image {
  width: 25%;
}

.image img {
  width: 75%;
  top: 0;
}

.image h2 {
  text-transform: uppercase;
}

.intro p {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
  webkit-margin-before: 1em
}

.intro h2 {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.skill h2 {
  text-align: center;
  text-transform: uppercase;
}

#skill-list {
  margin-left: 50px;
}

.main-text {
  clear: both;
  background-color: 272703;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  padding-top: 20px;
}

.main-text h2 {
  text-transform: uppercase;
}

/*Typography*/

h1 {
  font-family: Verdana, Arial, sans-serif;
}
h2 {
  font-family: Verdana, Arial, sans-serif;
}
h3 {
  font-family: Verdana, Arial, sans-serif;
}
p {
  font-family: Verdana, Arial, sans-serif;
}
 
